.cartecontainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}
.carte{
    background: url(./img/Dos-de-cartes-final-2016-tiers.jpg);
    background-size:100%;
    height: 140px;
    width:110px;
    margin-right: 35px;
    color: white;
    text-align: center;
}
.carte6:focus{
    background: url(./img/Multipla.jpeg);
    background-size:100% ;
}